* {
  margin: 0px;
  padding: 0px;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  line-height: 1.5; }
  * body {
    z-index: 0; }
    * body a {
      text-decoration: none; }

/* --------------------------------HEADER ----------------------------------------- */
header {
  position: sticky;
  top: 0px;
  z-index: 100;
  background-color: #fff; }
  header .navbar {
    border-bottom: #979292 2px solid; }
    header .navbar .navbar-toggler {
      height: 8rem;
      width: 8rem;
      margin-right: 4rem; }
    header .navbar .navbar-toggler-icon {
      margin-right: 5rem; }
    header .navbar .navbar-nav a {
      color: black;
      font-weight: 900;
      font-size: 1.5rem; }
    header .navbar .navbar-nav a:hover {
      border-bottom: 2px solid #979292;
      color: #725a74; }

/* -------------------------------- FOOTER ----------------------------------------- */
footer {
  margin-top: 4rem;
  padding-top: 1rem;
  bottom: 0px;
  background: #fff;
  height: 4rem;
  border-top: #979292 2px solid; }
  footer .div-p {
    display: flex;
    align-items: center;
    justify-content: center; }
  footer .icons {
    grid-column: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly; }
  footer p {
    margin-left: 3rem; }

/* -------------------------------- Pagina INDEX ----------------------------------------- */
/* ----SECTION H1&IMG---- */
.h1-img {
  height: 46rem;
  width: 137.59;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20rem; }
  .h1-img .video-index {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%; }
  .h1-img .div-h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 20; }
    .h1-img .div-h1 h1 {
      font-size: 5rem;
      font-weight: 550;
      animation-name: h1-index;
      animation-duration: 2s;
      animation-iteration-count: 1;
      color: black; }

@keyframes h1-index {
  0% {
    transform: translateY(-50vw); }
  50% {
    transform: translateY(0vw); }
  75% {
    transform: translateY(-5vw); }
  100% {
    transform: translateY(0vw); } }
  .h1-img .div-a {
    margin-top: 14rem;
    display: flex;
    transform: rotate(90deg);
    justify-content: center;
    align-items: flex-end;
    align-self: center; }
    .h1-img .div-a a {
      color: black;
      font-size: 4rem;
      font-weight: 600;
      z-index: 20;
      animation-name: arrow;
      animation-duration: 3s;
      animation-iteration-count: infinite; }

@keyframes arrow {
  0% {
    transform: translateX(0vw); }
  50% {
    transform: translateX(5vw); }
  100% {
    transform: translateX(0vw); } }

/* ----SECTION Index Carousel---- */
.carousel .slide {
  margin-top: 20rem; }

.carousel-inner {
  margin-top: 40rem;
  width: 400px;
  height: 600px;
  margin: auto; }

/* ----SECTION Index Referencias---- */
.sec-index-ref {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat 3, 1fr;
  grid-gap: 5rem; }
  .sec-index-ref h2 {
    width: 100%;
    grid-column: 6/8;
    grid-row: 1;
    font-size: 3rem; }
  .sec-index-ref img {
    border-radius: 3.5rem;
    transition: 1s; }
  .sec-index-ref img:hover {
    transform: scale(1.2); }
  .sec-index-ref p {
    margin-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
    font-weight: 590; }
  .sec-index-ref .ref1 {
    grid-column: 1/12;
    grid-row: 2;
    margin-left: 2.5rem;
    display: flex; }
  .sec-index-ref .ref2 {
    grid-column: 1/12;
    grid-row: 3;
    margin-left: 2.5rem;
    display: flex; }
  .sec-index-ref .ref3 {
    grid-column: 1/12;
    grid-row: 4;
    margin-left: 2.5rem;
    display: flex; }
