* {
  margin: 0px;
  padding: 0px;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  line-height: 1.5; }
  * body {
    z-index: 0; }
    * body a {
      text-decoration: none; }

/* --------------------------------HEADER ----------------------------------------- */
header {
  position: sticky;
  top: 0px;
  z-index: 100;
  background-color: #fff; }
  header nav {
    border-bottom: 2px solid #979292; }
    header nav #navbarNav {
      margin-left: 35rem; }
      header nav #navbarNav li {
        margin-right: 3rem; }
        header nav #navbarNav li a {
          color: black;
          font-weight: 600;
          font-size: 1.3rem; }
        header nav #navbarNav li:hover {
          border-bottom: 2px solid #979292;
          color: #725a74; }

/* -------------------------------- FOOTER ----------------------------------------- */
footer {
  margin-top: 4rem;
  padding-top: 1rem;
  bottom: 0px;
  background: #fff;
  height: 2rem;
  border-top: #979292 2px solid; }
  footer .rows {
    display: flex;
    flex-direction: column;
    background-color: #fff; }
    footer .rows .colu {
      display: flex;
      justify-content: center;
      align-items: center; }
      footer .rows .colu p {
        margin: 1rem;
        font-size: 1.3rem;
        margin-bottom: .5rem; }
        footer .rows .colu p a {
          font-size: 1.3rem;
          color: #725a74; }
      footer .rows .colu .icons {
        transform: scale(1.5);
        display: flex;
        justify-content: space-evenly; }
        footer .rows .colu .icons a {
          margin-top: 2rem;
          margin-right: 2rem;
          margin-bottom: 2rem;
          margin-left: 2rem;
          background-color: #979292; }
  footer .bg--info {
    background-color: #105266; }
  footer .bg--danger {
    background-color: #da4c42; }
  footer .bg--warning {
    background-color: #cec431; }
  footer .bg--success {
    background-color: #9bf08c; }

/* -------------------------------- BODYS ----------------------------------------- */
/* -------------------------------- BODY INDEX ----------------------------------------- */
.body-index .h1-img {
  height: 46rem;
  width: 137.59;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20rem; }
  .body-index .h1-img .video-index {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%; }
  .body-index .h1-img .div-h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 20; }
    .body-index .h1-img .div-h1 h1 {
      font-size: 5rem;
      font-weight: 550;
      animation-name: h1-index;
      animation-duration: 2s;
      animation-iteration-count: 1;
      color: black; }

@keyframes h1-index {
  0% {
    transform: translateY(-50vw); }
  50% {
    transform: translateY(0vw); }
  75% {
    transform: translateY(-5vw); }
  100% {
    transform: translateY(0vw); } }
  .body-index .h1-img .div-a {
    margin-top: 14rem;
    display: flex;
    transform: rotate(90deg);
    justify-content: center;
    align-items: flex-end;
    align-self: center; }
    .body-index .h1-img .div-a a {
      color: black;
      font-size: 4rem;
      font-weight: 600;
      z-index: 20;
      animation-name: arrow;
      animation-duration: 3s;
      animation-iteration-count: infinite; }

@keyframes arrow {
  0% {
    transform: translateX(0vw); }
  50% {
    transform: translateX(5vw); }
  100% {
    transform: translateX(0vw); } }

.body-index #carouselExampleSlidesOnly {
  padding-bottom: 5rem;
  background-color: #b8b5b5; }

.body-index .carousel .slide {
  margin-top: 20rem; }

.body-index .carousel-inner {
  margin-top: 40rem;
  width: 400px;
  height: 600px;
  margin: auto; }

.body-index .sec-index-ref {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat 3, 1fr;
  grid-gap: 5rem; }
  .body-index .sec-index-ref h2 {
    width: 100%;
    grid-column: 6/8;
    grid-row: 1;
    font-size: 3rem; }
  .body-index .sec-index-ref img {
    border-radius: 3.5rem;
    transition: 1s; }
  .body-index .sec-index-ref img:hover {
    transform: scale(1.2); }
  .body-index .sec-index-ref p {
    margin-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
    font-weight: 590; }
  .body-index .sec-index-ref .ref1 {
    grid-column: 1/12;
    grid-row: 2;
    margin-left: 2.5rem;
    display: flex; }
  .body-index .sec-index-ref .ref2 {
    grid-column: 1/12;
    grid-row: 3;
    margin-left: 2.5rem;
    display: flex; }
  .body-index .sec-index-ref .ref3 {
    grid-column: 1/12;
    grid-row: 4;
    margin-left: 2.5rem;
    display: flex; }

/* -------------------------------- BODY TIENDA ----------------------------------------- */
.body-tienda {
  background-color: #EECFD4; }
  .body-tienda .h1-tienda {
    height: 14rem;
    width: 137.59;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .body-tienda .h1-tienda h1 {
      color: #313030;
      font-size: 5rem;
      animation: h1-tienda;
      animation-duration: 2s;
      animation-iteration-count: .9; }

@keyframes h1-tienda {
  0% {
    transform: translateX(-50vw); }
  100% {
    transform: translateX(0vw); } }
  .body-tienda .section-tienda {
    margin-top: 10rem;
    display: flex;
    justify-content: center; }
    .body-tienda .section-tienda .div-tienda div {
      margin-bottom: 10rem;
      width: 30rem;
      height: 80rem; }
      .body-tienda .section-tienda .div-tienda div .card-title {
        margin-top: 3rem;
        font-size: 4rem;
        text-align: center; }
      .body-tienda .section-tienda .div-tienda div .card-text {
        margin-top: 3rem;
        font-size: 3rem;
        text-align: center; }
      .body-tienda .section-tienda .div-tienda div .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 10rem;
        width: 50%;
        height: 6rem;
        font-size: 2rem;
        font-weight: 600; }
      .body-tienda .section-tienda .div-tienda div .btn-primary {
        background-color: #EECFD4;
        border-color: #0a0a0a;
        color: black; }

/* -------------------------------- BODY PRODUCTOS ----------------------------------------- */
.body-productos {
  background-color: #B3D1C1;
  /* ---- imagenes y texto---- */ }
  .body-productos .h1-img-productos {
    height: 50rem;
    width: 100%;
    margin-bottom: 10rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center; }
    .body-productos .h1-img-productos .div-h1-prod {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .body-productos .h1-img-productos .div-h1-prod h1 {
        font-size: 4.3rem;
        text-transform: uppercase;
        animation: h1-productos;
        animation-duration: 2.5s;
        animation-iteration-count: .9; }

@keyframes h1-productos {
  0% {
    transform: translateX(50vw);
    color: #B3D1C1; }
  100% {
    transform: translateX(0vw);
    color: black; } }
  .body-productos .section-productos {
    display: grid;
    grid-template-columns: repeat 3, 1fr;
    grid-template-rows: repeat 4, 1fr;
    grid-gap: 10rem; }
    .body-productos .section-productos .img {
      margin-bottom: 3rem;
      margin-top: 2rem; }
      .body-productos .section-productos .img img {
        border-radius: 10%;
        animation: h1-productos;
        animation-duration: 2.5s;
        animation-iteration-count: .9; }
    .body-productos .section-productos .p-productos {
      width: 50%;
      padding-bottom: 2.5rem; }
    .body-productos .section-productos .product1 {
      grid-row: 1; }
    .body-productos .section-productos .product2 {
      grid-row: 2; }
    .body-productos .section-productos .product1, .body-productos .section-productos .product2 {
      display: flex;
      border-top: #937595 solid 2.5px;
      border-bottom: #937595 solid 2.5px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: 1s; }
    .body-productos .section-productos .product1, .body-productos .section-productos .product2, .body-productos .section-productos img:hover {
      animation: h1-productos;
      animation-duration: 2.5s;
      animation-iteration-count: .9; }

/* -------------------------------- BODY NOSOTROS ----------------------------------------- */
.body-nosotros {
  background-color: #a5aaca; }
  .body-nosotros .h1-nosotros {
    display: flex;
    height: 20rem;
    justify-content: center;
    align-items: center; }
    .body-nosotros .h1-nosotros h1 {
      font-size: 5rem;
      color: white; }
  .body-nosotros .section-nosotros {
    margin-top: 10rem;
    margin-left: 4rem;
    margin-bottom: 15rem;
    display: grid;
    grid-template-columns: repeat 3, 1fr;
    grid-template-rows: repeat 2, 1fr;
    grid-gap: 20rem; }
    .body-nosotros .section-nosotros .nosotros1 {
      display: flex;
      grid-row: 1; }
      .body-nosotros .section-nosotros .nosotros1 .img-nosotros1 {
        margin-right: 4rem;
        border-radius: 50%; }
      .body-nosotros .section-nosotros .nosotros1 .p-nosotros1 {
        display: flex;
        align-items: center;
        margin-right: 4rem; }
  .body-nosotros .nosotros2 {
    display: flex;
    grid-row: 2; }
    .body-nosotros .nosotros2 .img-nosotros2 {
      margin-left: 4rem;
      margin-right: 4rem;
      border-radius: 50%;
      display: flex;
      justify-content: flex-end; }
    .body-nosotros .nosotros2 .p-nosotros2 {
      display: flex;
      align-items: center; }

/* -------------------------------- BODY CONTACTO ----------------------------------------- */
.body-contacto {
  background-color: #d2b9f3; }
  .body-contacto .h1-contacto {
    height: 15rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .body-contacto .h1-contacto h1 {
      font-size: 3rem; }
  .body-contacto .section-contacto {
    margin: auto;
    width: 50rem;
    height: 50rem; }
    .body-contacto .section-contacto form {
      width: 50rem;
      margin-bottom: 20rem;
      display: flex;
      justify-content: center;
      align-items: center; }
      .body-contacto .section-contacto form input {
        width: 17rem;
        height: 2rem;
        margin: 1rem;
        margin-top: 1rem;
        margin-bottom: 4rem;
        padding-left: 1rem;
        border: #ffee99 1px solid;
        color: black;
        font-size: 1rem;
        font-weight: 1000; }
      .body-contacto .section-contacto form .form-consulta {
        display: flex;
        margin-left: 2rem;
        width: 20rem; }
        .body-contacto .section-contacto form .form-consulta #consulta {
          width: 15rem;
          max-height: 8rem;
          padding: 1rem;
          border: #ffee99 1px solid;
          color: black;
          font-size: 1rem;
          font-weight: 1000; }
      .body-contacto .section-contacto form .input-boton {
        display: flex;
        height: 10rem;
        margin-top: 5rem;
        align-items: center; }
        .body-contacto .section-contacto form .input-boton input {
          width: 17rem;
          height: 3rem;
          border-radius: 5%;
          background-color: #ffda1f;
          border: #ffda1f 1px solid;
          color: black;
          font-size: 1.3rem;
          font-weight: 500; }

/* -------------------------------- MEDIAQUERIES ----------------------------------------- */
@media screen and (max-width: 768px) {
  * {
    font-size: 8px; }
  header {
    position: relative; }
    header .navbar {
      border-bottom: 2px solid #979292; }
      header .navbar span img {
        transform: scale(0.5); }
      header .navbar #navbarNav li {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 4rem; }
        header .navbar #navbarNav li a {
          color: #2e2e2e;
          font-size: 2rem; }
      header .navbar #navbarNav .navbar-toggler {
        transform: scale(2);
        margin-right: 4rem; }
  /* -----------Footer QUERIES------------- */
  footer {
    bottom: 0px;
    margin-top: 10rem;
    height: 10rem;
    background-color: #fff; }
    footer .rows {
      display: flex;
      flex-direction: column;
      background-color: #fff; }
      footer .rows .colu {
        display: flex;
        justify-content: center;
        align-items: center; }
        footer .rows .colu p {
          margin: 2rem;
          font-size: 2rem; }
          footer .rows .colu p a {
            font-size: 2rem;
            color: #725a74; }
        footer .rows .colu .icons {
          transform: scale(2.5);
          display: flex;
          justify-content: space-evenly; }
          footer .rows .colu .icons a {
            margin-top: 2rem;
            margin-right: 2rem;
            margin-bottom: 2rem;
            margin-left: 2rem;
            background-color: #979292; }
  /* -------------------------------- INDEX QUERIES ----------------------------------------- */
  .h1-img {
    height: 20rem;
    width: 100%; }
    .h1-img h1 {
      margin-top: 23rem;
      transform: scale(2); }
    .h1-img .video-index {
      height: 70rem; }
    .h1-img #div-arrow {
      display: none; }
  #carouselExampleSlidesOnly {
    margin-top: 40rem; }
    #carouselExampleSlidesOnly .carousel-inner {
      padding-top: 2rem;
      height: 500px; }
      #carouselExampleSlidesOnly .carousel-inner .carousel-item img {
        margin: auto;
        width: 300px;
        height: 450px;
        border-radius: 3%; }
  /* ----Index Referencias QUERIES---- */
  .sec-index-ref h2 {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-weight: 600; }
  .sec-index-ref .ref1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .sec-index-ref .ref1 img {
      height: 200px;
      width: 200px;
      margin-left: 2rem; }
    .sec-index-ref .ref1 p {
      margin-top: 3rem;
      font-size: 2rem;
      line-height: 1.7; }
  .sec-index-ref .ref2 {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .sec-index-ref .ref2 img {
      height: 200px;
      width: 200px;
      margin-left: 2rem; }
    .sec-index-ref .ref2 p {
      margin-top: 3rem;
      font-size: 2rem;
      line-height: 1.7; }
  .sec-index-ref .ref3 {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .sec-index-ref .ref3 img {
      height: 200px;
      width: 200px;
      margin-left: 2rem; }
    .sec-index-ref .ref3 p {
      margin-top: 3rem;
      font-size: 2rem;
      line-height: 1.7; }
  /* --------------------------------TIENDA QUERIES ----------------------------------------- */
  .h1-tienda {
    margin-top: 10rem;
    margin-bottom: 10rem; }
    .h1-tienda h1 {
      font-size: 7rem; }
  .div-tienda {
    display: block; }
    .div-tienda div {
      margin-bottom: 15rem; }
    .div-tienda .card-body {
      font-size: 5rem; }
      .div-tienda .card-body h5 {
        margin-top: 4rem;
        display: flex;
        justify-content: center;
        font-size: 5rem; }
      .div-tienda .card-body .card-text {
        margin-top: 5rem;
        display: flex;
        justify-content: center;
        font-size: 5rem; }
      .div-tienda .card-body .btn {
        transform: scale(1);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 10rem;
        width: 50%;
        height: 6rem;
        font-size: 3rem; }
      .div-tienda .card-body .btn-primary {
        background-color: #EECFD4;
        border-color: #0a0a0a;
        color: black; }
  /* --------------------------------PRODUCTOS QUERIES----------------------------------------- */
  .h1-img-productos {
    height: 30rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .h1-img-productos h1 {
      font-size: 4rem; }
  /* ---- imagenes y texto---- */
  .section-productos {
    display: grid;
    grid-template-columns: repeat 3, 1fr;
    grid-template-rows: repeat 3, 1fr;
    grid-gap: 17rem; }
    .section-productos .img {
      margin-bottom: 3rem;
      margin-top: 2rem;
      transform: scale(0.8); }
      .section-productos .img img {
        border-radius: 10%; }
    .section-productos .p-productos {
      padding: 0 2rem 2.5rem 2rem;
      transform: scale(1.9);
      margin-bottom: 2rem; }
    .section-productos .product1, .section-productos .product2, .section-productos .product3 {
      border-top: #937595 solid 4px;
      border-bottom: #937595 solid 4px; }
  /* --------------------------------NOSOTROS QUERIES----------------------------------------- */
  .h1-nosotros h1 {
    font-size: 8rem; }
  .section-nosotros {
    margin-top: 10rem;
    margin-left: 4rem;
    margin-bottom: 15rem;
    display: grid;
    grid-template-columns: repeat 3, 1fr;
    grid-template-rows: repeat 2, 1fr;
    grid-gap: 20rem; }
    .section-nosotros .nosotros1 {
      flex-direction: column; }
      .section-nosotros .nosotros1 p {
        line-height: 1.8;
        font-size: 2rem; }
      .section-nosotros .nosotros1 .img-nosotros1 {
        transform: scale(0.8);
        margin-bottom: 3rem; }
      .section-nosotros .nosotros1 .p-nosotros1 {
        display: flex;
        align-items: center;
        margin-right: 4rem; }
  .nosotros2 {
    flex-direction: column-reverse; }
    .nosotros2 .img-nosotros2 {
      margin: 0 4rem 3rem 0;
      transform: scale(0.8); }
    .nosotros2 .p-nosotros2 {
      display: flex;
      align-items: center; }
  /* --------------------------------CONTACTO QUERIES----------------------------------------- */
  .h1-contacto {
    height: 30rem; }
    .h1-contacto h1 {
      font-size: 4.5rem; }
  .section-contacto {
    height: 90rem; }
    .section-contacto form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .section-contacto form .form-nombre, .section-contacto form .form-apellido, .section-contacto form .form-email, .section-contacto form .form-telefono, .section-contacto form .div-form-consulta, .section-contacto form .input-boton {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center; }
      .section-contacto form #consulta {
        display: flex;
        margin-left: 1.5rem; }
      .section-contacto form .input-boton input {
        font-size: 2.5rem; } }
