header{
    position: sticky;
    top: 0px;
    z-index: 100;
    background-color: $back-header;

    .navbar{
        border-bottom: $border-style;

        .navbar-toggler{
            height: 8rem;
            width: 8rem;
            margin-right: 4rem;
        }

        .navbar-toggler-icon  {
            margin-right: 5rem;
        }

        .navbar-nav{
            a {
                color: rgb(0, 0, 0);
                font-weight: 900;
                font-size: 1.5rem;
            }
        
            a:hover{
                border-bottom: $border-style-hover;
                color: $color-hover-header;
            }
        }
    }   
}