// -------------------HEADER VARS--------------------//
$back-header:#fff;
$border-style: rgb(151, 146, 146) 2px solid;
$border-style-hover:2px solid rgb(151, 146, 146);
$color-hover-header:#725a74;


// -------------------FOOTER VARS-------------------- //
$back-footer:#fff;


// ------------------- TIENDA VARS-------------------- //

$color-back-tienda:#EECFD4;

// ------------------- PRODUCTOS VARS-------------------- //

$color-back-producto:#B3D1C1;
$border-sectionproductosquerie:#937595 solid 4px;
$border-sectionproducto:#937595 solid 2.5px;

// ------------------- NOSOTROS VARS-------------------- //

$color-back-nosotros:#a5aaca;

// ------------------- CONTACTO VARS-------------------- //

$color-back-contacto:#d2b9f3;
