// -------------------HEADER VARS--------------------//
$back-header:#fff;
$border-style: rgb(151, 146, 146) 2px solid;
$border-style-hover:2px solid rgb(151, 146, 146);
$color-hover-header:#725a74;


// -------------------FOOTER VARS-------------------- //
$back-footer:#fff;


// ------------------- VARS-------------------- //

$color-back-tienda:#EECFD4;