footer{
    @include footer-base;

    .rows {
        display: flex;
        flex-direction: column;
        background-color: #fff;

        .colu {
            display: flex;
            justify-content: center;
            align-items: center;
        

            p {
            margin: 1rem;
            font-size: 1.3rem;
            margin-bottom: .5rem;

                a {
                font-size: 1.3rem;
                font-weight: bold;
                }
            }

            .icons{
                transform: scale(1.5);
                display: flex;
                justify-content: space-evenly;
                
                a {
                    @include style-icons;
                    font-weight: bold;

                    &:hover{
                        transform: scale(1.5);
                        transition: 1.5s;
                    }
                }

                $colors:(
                    Wp: #00bb2d,
                    Ig: #572364,
                    Fb: #3b5998,
                    Map: #c3464c,
                );

                @each $name,$color in $colors {
                    .footer#{$name} {
                        color: $color;
                    }
                }

                
                
            }
        }
    }
    


}




