@media screen and (max-width: 768px) {

    *{
        font-size: 8px;
    }

    header {   
        position: relative;

        .navbar{
            border-bottom: 2px solid rgb(151, 146, 146);
        
            span img{
                transform: scale(.5);
            }
        

            #navbarNav{

                li {
                    display: flex;
                    justify-content: flex-end;
                    margin-bottom: 4rem;

                    a{
                        color: rgb(46, 46, 46);
                        font-size: 2rem;
                    }
                }

                .navbar-toggler {
                    transform: scale(2);
                    margin-right: 4rem;
                }
            }
        }
    }


/* -----------Footer QUERIES------------- */

    footer{
        @include footer-base-querie;


        .rows {
            display: flex;
            flex-direction: column;
            background-color: #fff;

            .colu {
                display: flex;
                justify-content: center;
                align-items: center;
            

                p {
                    margin: 2rem;
                    font-size: 2rem;

                    a {
                    font-size: 2rem;
                    color: #725a74;
                    }
                }

                .icons{
                    transform: scale(2.5);
                    display: flex;
                    justify-content: space-evenly;
                    
                    a {
                    @include style-icons;
                    }
                }
            }
        }
    }
/* -------------------------------- INDEX QUERIES ----------------------------------------- */





    .h1-img {
        height:20rem;
        width:100%;

        h1{
            margin-top: 23rem;
            transform: scale(2);
        }
        
        
        .video-index {
            height: 70rem;
        }
        
        #div-arrow {
            display: none;
        }
    }

    #carouselExampleSlidesOnly{
        margin-top: 40rem;

        .carousel-inner{
            padding-top: 2rem;
            height: 500px;

            .carousel-item{

                img{
                    margin: auto;
                    width: 300px;
                    height: 450px;
                    border-radius: 3%;
                }
            }    
        }
    }

    /* ----Index Referencias QUERIES---- */

    .sec-index-ref{

        h2{
        margin-top: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 5rem;
        font-weight: 600;
        }


        .ref1{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            img{
            height: 200px;
            width: 200px;
            margin-left: 2rem;    
            }

            p {
                margin-top: 3rem;
                font-size: 2rem;
                line-height: 1.7;
            }
        }

        .ref2{
            margin-top: 5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            img{
                height: 200px;
                width: 200px;
                margin-left: 2rem;    
            }

            p {
                margin-top: 3rem;
                font-size: 2rem;
                line-height: 1.7;
            }
        }


        .ref3{
            margin-top: 5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            img{
                height: 200px;
                width: 200px;
                margin-left: 2rem;    
            }

            p {
                margin-top: 3rem;
                font-size: 2rem;
                line-height: 1.7;
            }
        }
    }



/* --------------------------------TIENDA QUERIES ----------------------------------------- */

    .h1-tienda{
        margin-top: 10rem;
        margin-bottom: 10rem;

        h1{
            font-size: 7rem;
        }
    }

    .div-tienda {
        display: block;

        div {
            margin-bottom: 15rem;
        }

        .card-body{
            font-size: 5rem;

            h5{
                margin-top: 4rem;
                display: flex;
                justify-content: center;
                font-size: 5rem;
            }
            
            .card-text{
                margin-top: 5rem;
                display: flex;
                justify-content: center;
                font-size: 5rem;
            }

            .btn {
                transform: scale(1);
                display: flex;
                justify-content: center;
                align-items: center;
                margin: auto;
                margin-top: 10rem;
                width: 50%;
                height: 6rem;
                font-size: 3rem;
            }

            .btn-primary {
                background-color:#EECFD4;
                border-color: #0a0a0a;
                color:rgb(0, 0, 0);
            }    
        }
    }


/* --------------------------------PRODUCTOS QUERIES----------------------------------------- */


    .h1-img-productos {
        height: 30rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        h1{
            font-size: 4rem;
        }
    }



    /* ---- imagenes y texto---- */

    .section-productos {
        display: grid;
        grid-template-columns: repeat (3,1fr );
        grid-template-rows: repeat (3,1fr);
        grid-gap: 17rem;

        .img{
            margin-bottom: 3rem;
            margin-top: 2rem;
            transform: scale(.8);

            img{
                border-radius: 10%;
            }
        }

        .p-productos{
            padding:0 2rem 2.5rem 2rem;
            transform: scale(1.9);
            margin-bottom: 2rem;
        }

        .product1,.product2,.product3{
            border-top: $border-sectionproductosquerie;
            border-bottom: $border-sectionproductosquerie;
        }
    }






/* --------------------------------NOSOTROS QUERIES----------------------------------------- */


    .h1-nosotros{ 

        h1{
        font-size: 8rem;
        }
    }



    .section-nosotros{
        margin-top: 10rem;
        margin-left: 4rem;
        margin-bottom: 15rem;
        display: grid;
        grid-template-columns: repeat (3,1fr );
        grid-template-rows: repeat (2,1fr );
        grid-gap:20rem;

        .nosotros1 {
            flex-direction: column;

            p{
                line-height: 1.8;
                font-size: 2rem;
            }

            .img-nosotros1{
                transform: scale(.8);
                margin-bottom: 3rem;
            }

            .p-nosotros1{
                display: flex;
                align-items: center;
                margin-right: 4rem;

            }
        } 
    }


    .nosotros2 {
        flex-direction: column-reverse;

        .img-nosotros2{
            margin: 0 4rem 3rem 0;
            transform: scale(.8);
            
        }

        .p-nosotros2{
            display: flex;
            align-items: center;
        }
    }




/* --------------------------------CONTACTO QUERIES----------------------------------------- */

    .body-contacto{
    
        .h1-contacto{
            height: 30rem;
            
            h1{
                font-size: 4.5rem;
            }
        }

        .section-contacto{
            height:90rem;

            form{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                


                .form-nombre,.form-apellido,.form-email,.form-telefono,.div-form-consulta,.input-boton{
                    margin-top: 2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                #consulta {
                    display: flex;
                    margin-left: 1.5rem;
                }

                .input-boton {
                    input{
                        font-size:2.5rem;
                        height: 4rem;
                    }
                }
            }
        }
    }   
}